/* Configuração das imagens da div de entrega */
#entrega {
    height: 100px;
    width: 300px;
    position: fixed;
    bottom: 60px;
    right: 10px;
}

#entrega img {
    /* Borda arredondada */
    border-radius: 50%;

    /* Borda verde */
    border: 3px solid #40A837; 
}

/* Configuração da div do telefone */
#tel {
    
    /* Posicionamento */
    position: absolute;
    left: 500px;
    height: 150px;

    /* Fundo verde */
   

    /* Cor da fonte */
    color: white;

    /* Margem superior */
    margin-top: 13px;

    /* Espaçamento interno */
    padding: 10px;
    padding-bottom: 0;

    /* Borda arredondada */
    border-radius: 15px;
    
}

/* Configuração do header do telefone */
#tel h4 {
    /* Margem */
    margin: 0;
    
    /* Tamanho da fonte */
    font-size: 28px;
}

/* Configuração do sub-header do telefone */
#tel h5 {
    /* Margem */
    margin: 0;
    margin-top: 10px;
    
}

/* Configuração dos links do telefone */
#tel a {
    /* Cor da fonte */
    color: white;
   

    /* Sem sublinhado */
    text-decoration: none;
}
