/** Configuração da DIV do Banner com id promocao
**************************************************************************************/

#promocao {

    /** Altura e margem **/
    height: 500px;
    margin-top: 10px;

    /** Imagem do Banner  **/
    background-image: url('../imag/Jogo\ do\ dia.jpeg');
}


/** Configuração do header principal da promoção com id "promocaoH1" 
**************************************************************************************/

#promocaoH1 {

    /** Cor da fonte **/
    color: white;

    /** Tamanho de fonte **/
    font-size: 45px;
    
    /** Remove a margem **/
    margin: 0;
    
    /** Posicionando o elemento **/
    margin-left: 20px;
   /** position: absolute;**/
    padding-top: 40px;

    /** Aplica sombra ao texto **/
    text-shadow: 2px 2px 4px #e50021;
}


/** Configura o header com o preço no banner com id "promocaoValor" 
**************************************************************************************/

#promocaoValor {

    /** Cor da fonte  **/
    color: white;

    /** Tamanho da fonte **/
    font-size: 40px;

    /** Remove a margem  **/
    margin: 0;

    /** Aplica sombra ao texto **/
    text-shadow: 2px 2px 4px #e50021;

    /** Posiciona os elementos **/
    left: 280px;
    top: 450px;
    position: relative;

    /** Largura **/
    
    top: 450px;
    position: relative;
    top: 300px;
    width: 500px;
    margin-left: 200px;
    padding-top: 20px;
}
#maisVendidos {
    /* Margem superior e inferior */
    margin-top: 10px;
    margin-bottom: 10px;
}




